<?xml version="1.0"?>
<settings>

  <eigenvalue>
    <batches>10</batches>
    <inactive>5</inactive>
    <particles>5000</particles>
  </eigenvalue>

  <energy_grid>nuclide</energy_grid>

  <source>
    <space>
      <type>box</type>
      <parameters>
        -160 -160 -183
         160  160  183
      </parameters>
    </space>
  </source>

  <entropy>
    <lower_left>-182.07 -182.07 -183.00</lower_left>
    <upper_right>182.07  182.07  183.00</upper_right>
  </entropy>

</settings>
